@model SearchMaps.Models.MainTable


<div class="card-header h-auto text-center">Информация</div>

<div class="card-body text-center">
    <h5 class="card-title">@Model.Name </h5>
    <p>ИНН: @Model.INN </p>
    @if (Model.StatusID == 1)
    {
        <p>
            <input class="form-check-input" data-id="@Model.ID" type="checkbox" value="" id="chkBox">
            <label class="form-check-label ml-2">НАЛИЧИЕ ВЕСОВ</label>
        </p>
    }

    else
    {
        <p>
            <input class="form-check-input" type="checkbox" data-id="@Model.ID" value="" id="chkBox" checked>
            <label class="form-check-label ml-2">НАЛИЧИЕ ВЕСОВ</label>
        </p>
    }

    <button id="saveBtn" type="button" class="btn btn-info m-3">Сохранить</button>    

</div>


